Repository conroyr41/Workout-Tracker, pull requests merged in 2023-04, with the labels that each got.

#11 Onboarding Screen
  assets/1.jpg
  assets/2.jpg
  assets/3.jpg
  assets/Fit-4-U.png
  assets/Indicator.png
  assets/Indicator2.png
  assets/Indicator3.png
  assets/TextBackground.png
  package-lock.json
  package.json
  src/screens/onboarding/OnboardingScreen.tsx
Labels: onboarding

#17 The Home/Tracker Screen AND Workout Plan Screen!
  package-lock.json
  package.json
  src/App.tsx
  src/components/FullWidthRectButton.tsx
  src/components/Navbar.tsx
  src/components/ProgressChart.tsx
  src/helpers/ProgressChartDataHelper.ts
  src/helpers/WorkoutPlanDataHelper.ts
  src/models/WorkoutModel.ts
  src/screens/core/ExerciseDemoScreen.tsx
  src/screens/core/IndividualStatScreen.tsx
  src/screens/core/SettingsScreen.tsx
  src/screens/core/StatsScreen.tsx
  src/screens/core/TrackerScreen.tsx
  src/screens/core/WorkoutPlanScreen.tsx
Labels: core app

#20 Fixed Onboarding Layout
  src/screens/onboarding/OnboardingScreen.tsx
Labels: onboarding

#19 SurveyScreens!
  assets/Background.png
  assets/indicatorImages/Indicator1.png
  assets/indicatorImages/Indicator2.png
  assets/indicatorImages/Indicator3.png
  assets/indicatorImages/Indicator4.png
  assets/indicatorImages/Indicator5.png
  assets/indicatorImages/Indicator6.png
  assets/indicatorImages/Indicator7.png
  assets/indicatorImages/Indicator8.png
  package-lock.json
  package.json
  src/App.tsx
  src/components/BackButton.tsx
  src/components/ChoicesButton.tsx
  src/components/ChoicesButton2.tsx
  src/screens/core/StatsScreen.tsx
  src/screens/survey/1Gender.tsx
  src/screens/survey/2Age.tsx
  src/screens/survey/3Weight.tsx
  src/screens/survey/4Height.tsx
  src/screens/survey/5Relationship.tsx
  src/screens/survey/6FittnessGoal.tsx
  src/screens/survey/7Challenges.tsx
  src/screens/survey/8UniqueNeeds.tsx
  src/screens/survey/BackgroundComponent.tsx
  src/screens/survey/IndicatorComponent.tsx
  src/screens/survey/SurveyNavigator.tsx
  src/screens/survey/SurveyScreen.tsx
Labels: survey

#26 Progress pics
  assets/Fit4U(WhiteLOGO).png
  assets/StatsScreenButton.png
  package-lock.json
  package.json
  src/App.tsx
  src/components/Navbar.tsx
  src/components/ProgressChart.tsx
  src/components/StatsButton.tsx
  src/components/StatsNavigation.tsx
  src/screens/core/PictureAlbum.tsx
  src/screens/core/TrackerScreen.tsx
  src/screens/core/WorkoutPlanScreen.tsx
  src/screens/onboarding/OnboardingScreen.tsx
  src/screens/survey/SurveyScreen.tsx
Labels: core app

#32 Implemented Functionality for the "Complete a Workout" Button
  package-lock.json
  package.json
  src/components/ProgressChart.tsx
  src/helpers/ProgressChartDataHelper.ts
  src/screens/core/TrackerScreen.tsx
  src/screens/onboarding/OnboardingScreen.tsx
Labels: core app
